@import "tailwindcss";
@import "tw-animate-css";

@theme {
	--font-inter: "Inter", sans-serif;
}

@font-face {
	font-family: Inter;
	font-style: normal;
	font-weight: 100 900;
	font-display: swap;
	src: url("/fonts/Inter.woff2") format("woff2");
}

@layer base {
	* {
		@apply border-white/10;
	}
	body {
		@apply bg-black font-inter text-white;
	}
}
